package com.lyb.client.processor.impl;

import com.lyb.client.manager.PlayerManager;
import com.lyb.client.processor.*;
import com.lyb.client.message.protocol.*;

/**
 * ${desc}
 * 
 * @author codeGenerator
 * 
 */
#set( $this = "className")
public class Processor_${main}_$sub extends IMessageProcessor<Message_${main}_$sub> {

	@Override
	public void execute(PlayerManager playerManager, Message_${main}_$sub message) throws Exception {
		
	}
}
